{% extends 'base.html' %}

{% block header %}
 <!-- Custom styles -->
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style-responsive.css') }}">

<h1>{% block title %}Home {% endblock %}</h1>

{% endblock %}

{% block content %}
 <div class="row">
     <div class="col-lg-12">
         <section class="panel">
             <header class="panel-heading">
                 <h2>Welcome!</h2>
             </header>
             <div class="panel-body">
                 <p>Software Engineering Project</p>
                 <p>Made using HTML, CSS, Javascript, Python-Flask and SQLAlchemy</p>
                 
             </div>
         </section>
     </div>
 </div>
 
 {% endblock %}