{% extends 'base.html' %}

{% block head %}
<style>
    /* Popup container - can be anything you want */
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: auto;
    }

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

    /* Popup arrow */
    .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
    }

</style>
{% endblock %}

{% block header %}
<h1>{% block title %}Records {% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('booking.book') }}">Make a Reservation</a>
{% endif %}
{% endblock %}

{% block content %}

{% if records|length %}
<table class="reservation">
    <tr>
        <th>ID</th>
        <th>Room</th>
        <th>User</th>
        <th>Date</th>
        <th>Time</th>
        <th>Party</th>
        <th colspan="2">Edit</th>
    </tr>
    {% for record in records %}
    <tr>
        <td> ID{{ record['id'] }}</td>
        <div class="about">
            <td>{{ record['room_id'] }} </td>
            <td>{{ record['username'] }}</td>
            <!-- <td>{{ record['booking_time'].strftime('%Y-%m-%d') }}</td> -->
            <td>{{ record['booked_date'] }}</td>
            <td>{{ record['time_start'] }} - {{ record['time_end'] }}</td>
            <td>{{ record['party'] }}</td>
        {% if current_user.username == record['username'] %}
        <td><a class="action" href="{{ url_for('booking.edit', id=record['id']) }}">Edit</a></td>
        <td><button class="action popup" onclick="confirmCancel({{record['id']}})">Cancel</buttton>
            <span class="popuptext" id="popup{{record['id']}}">
                <a class="action" href="{{ url_for('booking.cancel', id=record['id']) }}">Sure?</a>
            </span>
        </td>
        </div>

        {% else %}
        <td colspan="2">/NA</td>
        {% endif %}
    </tr>

    {% endfor %}
</table>
{% else %}
<div>No records available<br><a href="{{url_for('booking.book')}}">Make a reservation!</a></div>
{% endif %}

{% endblock %}

{% block script %}
<script>
    // Get the modal
    var cancelModal = document.getElementById('cancelModal');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == cancelModal) {
            cancelModal.style.display = "none";
        }
    }

    function confirmCancel(recordID) {
        // document.getElementById("popup" + recordID).style.display = "block";
        document.getElementById("popup" + recordID).classList.toggle("show");
    }

    function closeModal(recordID) {
        document.getElementById("cancel" + recordID).style.display = "none";
    }

</script>
{% endblock %}