{% extends 'base.html'%}
<!--Display user's booking history and relevant reservations -->
<!--Option to delete account?? maybe idk-->
{% block title %}Profile{% endblock %}

{% block header %}Profile{% endblock %}

{% block content %}
<div>History</div>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Room</td>
            <td>Date</td>
            <td>Time</td>
            <td>Party</td>
            <td>Booked by</td>
            <td>Booking Time</td>
        </tr>
    </thead>
    <tbody>
        {% for record in records['own'] %}
        <tr>
            <td> ID{{ record['id'] }}</td>
            <td>{{ record['room_id'] }} </td>
            <td>{{ record['booked_date'] }}</td>
            <td>{{ record['time_start'] }} - {{ record['time_end'] }}</td>
            <td>{{ record['party'] }}</td>
            <td>{{ record['username'] }} </td>
            <td>{{ record['booking_time'].strftime('%Y-%m-%d (%H:%M)') }}</td>
        </tr>
        {% endfor %}
        {% for record in records['partied'] %}
        <tr>
            <td> ID{{ record['id'] }}</td>
            <td>{{ record['room_id'] }} </td>
            <td>{{ record['booked_date'] }}</td>
            <td>{{ record['time_start'] }} - {{ record['time_end'] }}</td>
            <td>{{ record['party'] }}</td>
            <td>{{ record['username'] }} </td>
            <td>{{ record['booking_time'].strftime('%Y-%m-%d (%H:%M)') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
